<div class="p-4">
  
        <h1 class="text-center text-5xl font-extrabold my-10 text-[#b2524c]">Biblioteca Infinita</h1>
   

    <div class="flex">
        <img class="rounded-lg m-3 border-8 border-[#b2524c]" src="../assets/libroViaje.jpg" alt="">
        <div class="flex-grow flex flex-col justify-center ">
            <div class="text-center text-xl mx-10">
                La biblioteca infinita es un lugar donde la lectura es un viaje. Un viaje sin fin por el mundo de la
                imaginación, de la aventura, del conocimiento. Un viaje que nos lleva a lugares lejanos, a conocer
                personas fascinantes, a experimentar emociones intensas.
            </div>
        </div>
    </div>
    <div class="flex">
        <div class="flex-grow flex flex-col justify-center">
            <div class="text-center text-xl mx-10">
                La biblioteca infinita es un lugar para todos. No importa la edad, el género o el interés. En la
                biblioteca infinita, todos pueden encontrar su propio camino. Un camino que los lleve a un mundo de
                posibilidades infinitas.
            </div>
        </div>
        <img class="rounded-lg m-3 border-8 border-[#b2524c]" src="../assets/libro_galaxia.jpg" alt="">
    </div>
</div>